$tablet-width: 600px;
$desktop-width: 1000px;
$mini-mobile-width: 479px;

@mixin mini-mobile {
	@media (min-width: $mini-mobile-width) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: $tablet-width) {
	  @content;
	}
}

@mixin desktop {
	@media (min-width: $desktop-width) {
	  @content;
	}
}